<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pizze List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <h1>Pizza Singola</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${pizze}">
                <td>[[*{name}]]</td>
                <td>[[*{description}]]</td>
                <td>[[*{price}]] </td>
            </tr>
        </tbody>

    </table>
</body>

</html>